extends layout

block content
  h1= title
  form(role="form" method="post" action="/todolist")
    div 
      label(for="todo") TODO
      input#todo.form-control(type="text" name="todo" placeholder="TODOを入力してください")
    button.btn.btn-primary(type="submit") 登録

  h2 TODO一覧
  table 
    tr
      th 番号
      th TODO
    - each todo in todos
      tr 
        td #{todo.rowid}
        td #{todo.todo}
  table 
    tr
      th 番号
      th DONE
    - each done in dones
      tr 
        td #{done.rowid}
        td #{done.todo}
  //- #api-data 
  //-   script.
  //-     // APIを呼び出すJavaScriptコード
  //-     async function fetchData() {
  //-       try {
  //-         const response = await fetch('/todos'); // Expressアプリのエンドポイントに合わせて変更
  //-         const data = await response.json();
  //-         document.querySelector('#api-data').textContent = JSON.stringify(data);
  //-       } catch (error) {
  //-         console.error(error);
  //-       }
  //-     }
  //-     fetchData();