extends layout

block content
  h1= title
  form(role="form" target="_self")
    div 
      label(for="todo") TODO
      input#todo.form-control(type="text" name="todo" placeholder="TODOを入力してください")
    button.btn.btn-primary(type="submit" onclick="resisterTodo()") 登録
      script.
        //TODOを登録するJavaScriptコード
        //todosテーブルにTODOを登録する
        async function resisterTodo() {
          const response = await fetch('/todos', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ todo: document.querySelector('#todo').value })
          });
          const data = await response.json();
          console.log(data);
          todos.append(data);
          alert('TODOを登録しました');
        }
  h2 TODO一覧
  table 
    tr
      th 番号
      th TODO
    - each todo in todos
      tr 
        td #{todo.rowid}
        td #{todo.todo}
  table 
    tr
      th 番号
      th DONE
    - each done in dones
      tr 
        td #{done.rowid}
        td #{done.todo}
  //- #api-data 
  //-   script.
  //-     // APIを呼び出すJavaScriptコード
  //-     async function fetchData() {
  //-       try {
  //-         const response = await fetch('/todos'); // Expressアプリのエンドポイントに合わせて変更
  //-         const data = await response.json();
  //-         document.querySelector('#api-data').textContent = JSON.stringify(data);
  //-       } catch (error) {
  //-         console.error(error);
  //-       }
  //-     }
  //-     fetchData();